<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Show user</title>
</head>
<body>
<div>
    <a href="/users">users</a>
</div>
<hr>
<div>
    <h1>Show user</h1>
    <h1 th:text="${user.getName()} + ' ' + ${user.getSurname()}">VALUE</h1>
    <span th:text="'User ID: ' + ${user.getId()}"/>
    <span th:text="'User email: ' + ${user.getEmail()}"/>
</div>
<div>
    <a th:href="@{/users/edit(id=${user.getId()})}">
        <button type="submit">
            EDIT
        </button>
    </a>

    <form th:action="@{/users/delete(id=${user.getId()})}" th:method="POST">
        <button type="submit">
            DELETE
        </button>
    </form>
</div>
</body>
</html>